body{
    color: white;
    background-color: black;
    height: 200;
    text-align: center;
}
button{
    width: 200px;
    height: 100px;
    background-color: orangered;
    border-radius: 30px;
    border-color: black;
    margin: 20px 55px;
    font-size: 20px;
    color: white;
}
header{
    text-align: center;
    background-color: orangered;
    font-size: 50px;
    height: 50px;
    border: solid black 10px;
    border-radius: 20px;
}
img{
    height: 700px;
    border: solid orangered 30px;
    border-radius: 50px;
}
.btn1{
    background-color: orangered;
}
h1,h2,h3{
    font-size: 30px;
}